<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="./css/bootstrap.min.css">
		<link rel="stylesheet" href="./css/index.css">
        <link rel="stylesheet" href="./css/liuyan.css">
		<title>悦悦个人博客</title>
	</head>
	<body>
		<div class="bg">
			<img src="img/header-bg.jpg" alt="">
			<div class="container">
				<div class="row quotes col-md-5 hidden-xs">
					<h3>王心凌-大眠</h3>
					<p>感谢他把我 当成傻子 每天都哄我 上当一次 清醒一辈子 也就那样子 不介意用爱 来醉生梦死
	
						原来被催眠 真有意思 我乐于作个 敬业人质 没空再去对谁解释 是我自己把自己挟持 不关他的事
	
						都快忘了怎样恋一个爱 我被虚度了的青春 也许还能活过来 说心疼我的更应该明白 我当然会沉醉个痛快
	
						就让我陪他恋完这场爱 只求心花终于盛开 就没有别的期待 等梦完醒来 再去收拾残骸
	
						如果不失去理智 爱情要从何开始 傻傻的骗子 和骗人的傻子 才可能一生一世 都快忘了怎样恋一个爱
	
						我被虚度了的青春 也许还能活过来
	
						说心疼我的更应该明白 我当然会沉醉个痛快 就让我陪他恋完这场爱
	
						只求心花终于盛开 就没有别的期待
	
						等梦完醒来 再去收拾残骸
					</p>
				</div>
			</div>
		</div>


		<div class="navbg">
			<div class="container">
				<div class="row">
					<header>
						<div class="nav">
							<ul>
								<li><a href="index.html" class="glyphicon glyphicon-home">首页</a></li>
								<li><a href="xiangce.html" class="glyphicon glyphicon-picture">相册</a></li>
								<li><a href="wenzhang.html" class="glyphicon glyphicon-folder-open">文章</a></li>
								<li><a href="liuyan.html" class="glyphicon glyphicon-envelope">留言</a></li>
								<li><a href="#" class="glyphicon glyphicon-paperclip">链接</a></li>
							</ul>
						</div>
					</header>
				</div>
			</div>
		</div>

		<!-- 中间s -->
		<div id="app">
			<div class="comment-container">
				<h2>留言区域</h2>
				<transition-group name="fade" tag="div">
					<div v-for="(comment, index) in comments" :key="index" class="comment">
						<div class="comment-info">
							<strong>{{ comment.name }}</strong> 说：
						</div>
						<div class="comment-text">{{ comment.message }}</div>
					</div>
				</transition-group>
				<div class="comment-form">
					<h3>发表留言</h3>
					<form @submit.prevent="submitComment">
						<label for="name">姓名：</label>
						<input type="text" id="name" v-model="newComment.name" required>
	
						<label for="message">留言：</label>
						<textarea id="message" v-model="newComment.message" required></textarea>
	
						<button type="submit">提交留言</button>
					</form>
				</div>
				<div class="floating-elements"></div>
			</div>
		</div>
	
		<!-- 中间e -->

		<footer>
			<!-- <div class="container"> -->
				<p>悦悦个人博客模板</p>
			<!-- </div> -->
		</footer>
		<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
		<script src="./js/liuyan.js"></script>
	</body>
</html>
